<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test suite" verbose="1">
    <test name="Test suite">
        <groups>
            <run>
                <include name="GROUPA"/>
            </run>
        </groups>
        <classes>
            <class name="power.PowerCode"/>
        </classes>

    </test>

    <listeners>
        <listener class-name="testerport.Report"/>
    </listeners>
</suite>